.Section{
    width: 100%;
    height: 100%;
    padding: 4rem 0rem;
}

.Container{
    padding: 3rem clac((100vw - 1300px) / 2);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 800px;
    @media screen and (max-width: 768px) {
        grid-template-columns: 1fr;
    }
}

.ColumnLeft{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    line-height: 1.4;
    padding: 1rem 2rem;

}


.Columnright{
    padding: 1rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.info_h1, .info_p{
    margin-left: 80px;
}

.img{
    width: 70%;
    height: 80%;
    object-fit: cover;
    margin-left: 100px;
}
  